<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h2>{{detail.name}}</h2>
<h2>{{detail.email}}</h2>
<h2>{{detail.phone}}</h2>
<hr>
<br>
<h3>About</h3>
<p>{{detail.about}}</p>
<hr>
<h3>Skills</h3>
<p>{{detail.skills}}</p>
<hr>
<h3>Education</h3>
<ul>
    <li>{{detail.school}}</li>
    <li>{{detail.degree}} from {{detail.university}}</li>
</ul>
<hr>
<h3>Previous Work</h3>
<p>{{detail.previous_work}}</p>

</body>
</html>